.hidden {
  display: none;
}
* {
  box-sizing: border-box;
}
html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#top-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

#weather {
  margin: 20px 20px 0px 0px;
}

#weather span {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form-input:focus,
#todo-input:focus {
  outline: none;
}

#login-form-input::placeholder,
#todo-input::placeholder {
  color: rgb(222, 188, 248);
}

#login-form-input:focus::placeholder,
#todo-input:focus::placeholder {
  opacity: 0.3;
}

#login-form-input,
#todo-input {
  border: none;
  width: 600px;
  height: 50px;
  font-size: 40px;
  border-bottom: 1px solid white;
  color: rgb(222, 188, 248);
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

#clock {
  font-size: 160px;
  color: white;
  margin: 20px;
  font-weight: 600;
}

#greeting {
  font-size: 60px;
  color: white;
  font-weight: 600;
}

#footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

#todo-list {
  color: white;
  font-size: 25px;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 500px;
}

#quote {
  color: white;
  font-size: 35px;
}

body img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 0;
  padding: 0;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
